*{
    margin: 0;
}
.body1{
 width: 270px;
 height: 150px;
/* border: 1px red solid;*/
 margin: 0 auto;
 margin-top: 70px;
 text-align: center;
}
.body2{
/*border:red 1px solid;*/
width: 100%;
text-align: center;
margin-right: 440px;
}
.header{
/*border:1px red solid;*/
height: 30px;
border-bottom: 1px solid rgb(208, 209, 208);
text-align: center;
}
.img1{
    width: 270px;
    height: 129px;
}
.all{
width: 100%;
height: 100%;
/*background-color:grey;*/
}
.text1{
    width: 530px;
    height: 31px;
    margin-left:60px;
    font-size: 18px;
}
.button1{
    background-color: #317ef3;
    border: #317ef3;
    color: white ;
    width: 100px;
    height: 37px;

}
.heir1{
    /*border: red 0.5px solid;*/
    float: left;
    margin-left: 9px;
    font-size: 13px;
    margin-top: 5px;
}
.heir2{
   /* border: red 1px solid;*/
    float: left;
    margin-left: 5px;
    font-size: 13px;
    margin-top: 5px;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
span{
 color: rgb(37, 87, 235);
 font-size: 14px;
 margin:10px;
}
p{
    color: rgb(68, 70, 68)
}
a{
    color: rgb(49, 51, 49);
}
.a2{
    margin-left: 25px;
}
.a3{
    margin-left: 25px;
}
.a4{
    float: right;
    margin-right: 23px;
    margin-top: 2px;
}
.heir3{
    font-size: 13px;
    float: right;
    /*border: gray 1px solid;*/
    width: 800px;
    margin-top: 5px;
    

    
}
.button2{
    background-color: #317ef3;
    border: #317ef3;
    color: white ;
    width: 90px;
    height: 30px;
    float: right;
}
.a5{
    float: right;
    margin-right: 23px;
    margin-top: 2px;
}
.a6{
    float: right;
    margin-right: 23px;
    margin-top: 2px;
}
.heir4{
    float: right;
}
.a7{

color: grey;
margin-right: 10px;
}
.a8{
    
    color: grey;
    margin-left: 10px;
    margin-right:5px ;
}
.a9{
    
    color: grey;
    margin-left: 5px;
    margin-right:12px ;
}
.img2{
    width: 15px;
    height: 15px;
    margin-right: 4px;
    margin-top: 2px;
}
.footer2{
font-size: 12px;
color: grey;
text-align: center;
/*margin-top: 430px;*/
}
.footer1{
    text-align: center;
    font-size: 12px;
    color: grey;
    margin-top: 420px;
}
/*.text5{
    margin-left: 5px;
}*/
